@charset "utf-8";
/*
 *
 */
a:hover{
  text-decoration: none;
}
body{
  background-color: #faf8ea;
  color: #333;
  font-size: 16px;
}
header, footer{
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #7eccc1;
}
header{
  top: 0;
}
footer{
  bottom: 0;
}
main{
  margin-top: 52px;
  margin-bottom: 46px;
}

header nav:after{
  content: "";
  display: block;
  clear: both;
}
header nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav ul#social{
  float: right;
}
header nav ul#main-menu{
  float: left;
}
header nav ul li{
  float: left;
}
header nav ul#main-menu li a{
  display: block;
  padding: 8px 16px;
  color: #fff;
}
header nav ul#main-menu li a:hover{
  background-color: #54a39b;
  color: #fff;
}
header nav ul#social li{
  width: 28px;
  margin: 4px;
}
header nav ul#social li a{
  line-height: 28px;
  display: block;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  background-color: #f7c3bc;
}
header nav ul#social li a:hover {
  background-color: #f19896;
  -webkit-animation: scale .3s ease-in-out;
  animation: scale .3s ease-in-out;
}
@-webkit-keyframes scale {
  50% { -webkit-transform: scale(1.1); }
}
@keyframes scale {
  50% { transform: scale(1.1); }
}
h1{}

footer small{
  padding: 8px 0;
  display: block;
  color: #fff;
}